<div class="table-responsive">
  <form method="post" action='/products/edit'>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Name: </td>
          <td><input type="text" name="name" required size="40"
                  value="{{data.name}}"></td>
        </tr>
        <tr>
          <th>Description: </td>
          <td><input type="text" name="description" required size="40"
                  value="{{data.description}}"></td>
        </tr>
        <tr>
            <th>Price: </td>
            <td><input type="text" name="price" required size="40"
                       value="{{data.price}}"></td>
        </tr>
        <tr>
            <th>Quantity: </td>
            <td><input type="text" name="quantity" required size="40"
                       value="{{data.quantity}}"></td>
        </tr>
        <input type="hidden" name="id" value="{{data.id}}">
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
              <input type="submit" value="Save" class="btn btn-success">
              <input type="button" value="Cancel" class="btn btn-danger" class="cancel" onclick="cancelAdd()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
